AuthType Basic
AuthName "Enter Password"
AuthUserFile /www/alephnull.com/support/passwords

satisfy any

Order Deny,Allow
Deny from all
Allow from 66.26.232.51
Allow from 24.168.180.247

Require valid-user
