---
- name: Install timescaledb
  when: vm_purpose is defined and vm_purpose == "timescale"
  apt:
    pkg:
      - postgresql-18
      - postgresql-18-timescaledb
      - postgresql-common
      - phppgadmin
      - python3-psycopg2
    state: present

- name: Update Postgres
  when: vm_purpose is defined and vm_purpose == "timescale"
  block:
    - name: Start postgresql
      sysvinit:
        name: postgresql
        state: started

    - name: Set password for postgres user
      become: true
      become_user: postgres
      community.postgresql.postgresql_user:
        name: postgres
        password: "{{ postgres.postgres_password }}"
        encrypted: true

    - name: Create new user
      become: true
      become_user: postgres
      community.postgresql.postgresql_user:
        name: "{{ postgres.db_user }}"
        password: "{{ postgres.db_password }}"
        encrypted: true
        role_attr_flags: SUPERUSER

    - name: Create new database
      become: true
      become_user: postgres
      community.postgresql.postgresql_db:
        state: present
        name: "{{ postgres.db_name }}"
        encoding: UTF-8

    - name: Grant user access to database
      become: true
      become_user: postgres
      community.postgresql.postgresql_privs:
        type: database
        database: "{{ postgres.db_name }}"
        roles: "{{ postgres.db_user }}"
        grant_option: no
        privs: all

    - name: Allow external connections
      become: true
      become_user: postgres
      community.postgresql.postgresql_pg_hba:
        dest: "/etc/postgresql/18/main/pg_hba.conf"
        address: all
        contype: host
        databases: all
        method: scram-sha-256
        users: all
        create: true

  always:
    - name: Stop postgresql for remainder of ansible installation
      sysvinit:
        name: postgresql
        state: stopped

- name: Create new database directory
  when: vm_purpose is defined and vm_purpose == "timescale"
  file:
    path: "/{{ vm_hostname }}/postgresql"
    state: directory
    owner: postgres
    group: postgres
    mode: '0755'

- name: Move directory for postgresql database
  when: vm_purpose is defined and vm_purpose == "timescale"
  command: mv /var/lib/postgresql/18 "/{{ vm_hostname }}/postgresql"

- name: Change database directory
  when: vm_purpose is defined and vm_purpose == "timescale"
  become: true
  become_user: postgres
  lineinfile:
    path: /etc/postgresql/18/main/postgresql.conf
    regexp: '^data_directory'
    line: "data_directory = '/{{ vm_hostname }}/postgresql/18/main'"

- name: Listen on all ports
  when: vm_purpose is defined and vm_purpose == "timescale"
  become: true
  become_user: postgres
  lineinfile:
    path: /etc/postgresql/18/main/postgresql.conf
    regexp: '^.*listen_addresses'
    line: "listen_addresses = '*'"

- name: Increase shared buffers
  when: vm_purpose is defined and vm_purpose == "timescale"
  become: true
  become_user: postgres
  lineinfile:
    path: /etc/postgresql/18/main/postgresql.conf
    regexp: '^shared_buffers'
    line: "shared_buffers = 4096MB"

- name: Preload timescaledb
  when: vm_purpose is defined and vm_purpose == "timescale"
  become: true
  become_user: postgres
  lineinfile:
    path: /etc/postgresql/18/main/postgresql.conf
    regexp: '^.*shared_preload_libraries'
    line: "shared_preload_libraries = 'timescaledb'"
