---
- name: Installing chrony
  apt:
    pkg: chrony
    update-cache: no
    autoremove: yes

- name: Update chrony configuration
  copy:
    dest: /etc/chrony/chrony.conf
    content: |
      allow 10.42.0.0/16

      server {{ ntp0 }} iburst
      server {{ ntp1 }} iburst
      server {{ ntp2 }} iburst
      server {{ ntp3 }} iburst
      local stratum 10 orphan

      driftfile /var/lib/chrony/chrony.drift
      rtcfile /var/lib/chrony/rtc

      log tracking measurements statistics
      logdir /var/log/chrony

      maxupdateskew 100.0
      makestep 1 3
      leapsectz right/UTC
  when: install_local_time_source is defined and install_local_time_source == True

- name: Restart chrony with new configuration file
  sysvinit:
    name: chrony
    state: restarted
  when: install_local_time_source is defined and install_local_time_source == True

- name: Stop chrony for remainder of ansible installation
  sysvinit:
    name: chrony
    state: stopped
  when: vm_installation is defined and vm_installation == True
