---
- name: Install rng-tools
  apt:
    pkg:
      - rng-tools

- name: update udev config
  blockinfile:
    dest: /etc/udev/rules.d/99-TrueRNG.rules
    block: |
      SUBSYSTEM=="tty", ATTRS{idVendor}=="04d8", ATTRS{idProduct}=="f5fe", ENV{ID_MM_DEVICE_IGNORE}="1", MODE="0666", SYMLINK+="TrueRNG"
      KERNEL=="ttyACM[0-9]*", ATTRS{idVendor}=="04d8", ATTRS{idProduct}=="f5fe", RUN+="/bin/stty raw -echo -ixoff -F /dev/%k speed 3000000"

- name: update /etc/default/rng-tools-debian
  lineinfile: path=/etc/default/rng-tools-debian
              regexp='^HRNGDEVICE='
              line='HRNGDEVICE=/dev/TrueRNG'
