---
- name: Update apt cache for current distribution
  command: apt-get update
  # This works around a bug when using update_cache: yes

- name: Installing usrmerge
  apt:
    pkg: usrmerge
    update-cache: no
    autoremove: yes

- name: Upgrade current distribution
  apt:
    upgrade: dist
    update-cache: no
    autoremove: yes
  register: aptcurrent

- name: Installing python-is-python3
  apt:
    pkg: python-is-python3
    update-cache: no
    autoremove: yes
  register: aptpython
  when: vm_installation is undefined or vm_installation == False

# We might have been using /usr/bin/python3.* which was upgraded.
- name: Change python interpreter
  set_fact: ansible_python_interpreter="/usr/bin/python3"
  when: aptpython.changed and (vm_installation is undefined or vm_installation == False)

- name: Reboot
  reboot:
  when: (aptpython.changed or aptcurrent.changed) and (vm_installation is undefined or vm_installation == False)

- name: Configure apt source for local sid
  copy:
    dest: /etc/apt/sources.list
    content: |
      deb http://ftp.us.debian.org/debian/ sid main contrib non-free non-free-firmware
      deb-src http://ftp.us.debian.org/debian/ sid main contrib non-free non-free-firmware
  when: using_debian is defined and using_debian == True
        and install_unstable is defined and install_unstable == True

- name: Configure apt source for local ceres
  copy:
    dest: /etc/apt/sources.list
    content: |
      deb http://deb.devuan.org/merged ceres main contrib non-free non-free-firmware
      deb-src http://deb.devuan.org/merged ceres main contrib non-free non-free-firmware
      deb http://deb.devuan.org/merged testing main contrib non-free non-free-firmware
  when: using_devuan is defined and using_devuan == True
        and install_unstable is defined and install_unstable == True

# This works around a bug when using update_cache: yes
- name: Update apt cache for current distribution
  command: apt-get update
  when: install_unstable is defined and install_unstable == True

- name: Upgrade to unstable (sid or ceres)
  apt:
    upgrade: dist
    update_cache: no
    autoremove: yes
  register: aptunstable
  when: install_unstable is defined and install_unstable == True

# We might have been using /usr/bin/python3.* which was upgraded.
- name: Change python interpreter
  set_fact: ansible_python_interpreter="/usr/bin/python3"
  when: aptunstable.changed and (vm_installation is undefined or vm_installation == False)

- name: Reboot
  reboot:
  when: aptunstable.changed and (vm_installation is undefined or vm_installation == False)
