---
- name: update udev config for scanner
  copy:
    dest: /etc/udev/rules.d/99-scanner.rules
    content: |
      SUBSYSTEM=="usb", ATTRS{idVendor}=="04a9", ATTRS{idProduct}=="1912", GROUP="scanner", MODE="0660", SYMLINK+="scanner"

- name: Install desktop (and X11) tools
  apt:
    pkg:
      - alsa-utils
      - autocutsel
      - btcheck
      - chromium
      - cups
      - dclock
      - evince
      - firefox-esr
      - fvwm
      - ghostscript
      - gphoto2
      - gv
      - hexchat
      - libreoffice
      - mesa-utils
      - mplayer
      - mpv
      - perf-tools-unstable
      - printer-driver-postscript-hp
      #- signal-desktop
      - ssh-askpass-fullscreen
      - t1-xfree86-nonfree
      - telegram-desktop
      - vlc
      - x11-apps
      - x11-common
      - x11proto-dev
      - xfonts-100dpi
      - xfonts-100dpi-transcoded
      - xfonts-75dpi
      - xfonts-75dpi-transcoded
      - xfonts-terminus
      - xinit
      - xinput
      - xpaint
      - xpdf
      - xsane
      - xterm
      - xtightvncviewer
