Order Deny,Allow
Allow from all

RewriteEngine on

RewriteCond %{REQUEST_URI} ^/small-.*\.html
RewriteRule .* /small.html [L]

RewriteCond %{REQUEST_URI} ^/page.*\.html
RewriteRule .* /home.html [L]

RewriteCond %{REQUEST_URI} ^/index\.html
RewriteRule .* /home.html [L]

<Files ~ "^\.ht">
  Order allow,deny
  Deny from all
</Files>
